.list-category{
  font-size: 2.5em;
  font-weight:  bold;
  margin-bottom: 10px;
  text-align: center;
  border:3px solid;
  background-color: hsl(185,100%,50%);
  border-radius: 10px;
}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(206, 6%, 25%);
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: rgb(118, 32, 32);
  cursor: pointer;
}